
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    // background-color: #DECBB7;
    background-color: #003049;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    background-color: #69140E;
}

.centered {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    text-align: center;
    gap: 20px;
}

.card{
    border:1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    color: black;
    width: 150px;
    height: 200px;
    transition: 0.5s;
    // background-color: #F7F0F5;
    background-color: #669bbc;
    border-radius: 10px;
    overflow: hidden;

    .card-text{
        padding: 10px;
    }
}

.card-hide{
    display: none;
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px 0 darkblue;
    transition: 1.2s;
}


.disaster-card{
    border:1px solid black;
    color: black;
    background-color: rgb(240, 44, 44);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    border-radius: 10px;
    width: 300px;
    height: 450px;

    .card-text{
        padding: 10px;
    }
}
